/* Sri Mulam Club Thiruvananthapuram  */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Two / Three
5. Main Slider / Slider Two / Slider Three
6. Welcome One / Two / Three
7. Marketing One / Two
8. Team One
9. Services One / Two
10. Project One / Two / Three / Four
11. Progress One
12. News One / Two
13. CTA One / Two / Three
14. Main Footer
15. Steps One
16. Default One
17. Testimonial One / Two / Three
18. Main Footer / Footer Style Two
19. Counter One
20. Faq One
21. Info One
22. History One
23. Price One
24. Privacy Policy
25. Terms & Condition
26. Team Detail
27. Service Detail
28. Project Detail
29. Our Shop
30. Shop Detail
31. Shoping Cart
32. CheckOut
33. Register
34. Coming Soon
35. Blog Widgets
36. Blog Classic
37. Comment Form
38. Comment Box
39. Not Found
40. Contact Info
41. Map
42. Contact Form

**********************************************/

/* 

	font-family: 'Anybody', sans-serif;

*/

/*** 

====================================================================
	Root Code Variables
====================================================================

 ***/

.theme_color{
	color:var(--main-color);
}

/* Theme Color */

:root {
	
	/* #a97300 in decimal RGB */
	--main-color: rgb(169,115,0);
	--main-color-rgb:169,115,0;
	
	/* #444444 in decimal RGB */
	--color-two: rgb(68,68,68);
	--color-two-rgb:68,68,68;
	
	/* #5f5f5f in decimal RGB */
	--color-three: rgb(95,95,95);
	--color-three-rgb:95,95,95;
	
	/* #0a0a0a in decimal RGB */
	--color-four: rgb(10,10,10);
	--color-four-rgb:10,10,10;

	/* #efefef in decimal RGB */
	--color-five: rgb(239,239,239);
	--color-five-rgb:239,239,239;
	
    /* #ffffff in decimal RGB */
	--white-color:rgb(255,255,255);
	--white-color-rgb:255,255,255;

	/* #000000 in decimal RGB */
	--black-color:rgb(0,0,0);
	--black-color-rgb:0,0,0;

	/* Fonts */
	--font-family-Anybody: 'Anybody', sans-serif;
	
}

/*** 

====================================================================
	Reset
====================================================================

 ***/
 
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

***/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-two);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-three);
}

body {
	font-family:var(--font-family-Anybody);
	color:var(--color-five);
	line-height:1.6em;
	font-weight:400;
	font-size:14px;
	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

i{
    font-style: normal;
}

.bordered-layout .page-wrapper{
	padding:0px 50px 0px;
}

a{
	text-decoration:none;
	cursor:pointer;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	color:var(--main-color);
}

/* Preloader */

.preloader{ 
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999999999;
	background-color:#ffffff;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../images/icons/preloader.svg);
    background-size: 160px;
}

button,
a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none !important;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	margin:0px;
	background:none;
	font-weight: 700;
	color: var(--black-color);
}

input,button,select,textarea{
	
}

textarea{
	overflow:hidden;
}

.text,
p{
	position:relative;
	line-height:28px;
	font-size:16px;
	color:rgb(183, 183, 183);
}

/* Typography */

h1{
	line-height:90px;
	font-size:80px;
}

h2{
	line-height:65px;
	font-size:55px;
}

h3{
	line-height:40px;
	font-size:30px;
}

h4{
	line-height:34px;
	font-size:24px;
}

h5{
	line-height:30px;
	font-size:20px;
}

h6{
	line-height:28px;
	font-size:18px;
}

.auto-container{
	position:static;
	max-width:1320px;
	padding:0px 15px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	overflow: hidden;
	min-width:300px;
	background-color: black;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

img{
	display:inline-block;
	max-width:100%;
}

.theme-btn{
	cursor:pointer;
	display:inline-block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.centered{
	text-align:center;	
}

::-webkit-input-placeholder{color: inherit;}
::-moz-input-placeholder{color: inherit;}
::-ms-input-placeholder{color: inherit;}

/***

====================================================================
	Scroll To Top style
====================================================================

***/

.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 40px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	color: var(--main-color);
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.20);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
}

.progress-wrap::after {
    position: absolute;
    content: '\f176';
    font-family: "Font Awesome 5 Free";
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    stroke: var(--main-color);
    left: 0;
    top: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: block;
    font-weight: 700;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    font-size: 13px;
}

.progress-wrap svg path {
	fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: var(--main-color);
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap.style2::after {
    color: var(--thm-color-2);
}

.progress-wrap.style2 svg.progress-circle path {
    stroke: var(--thm-color-2);
}
  .progress-wrap.style3::after {
    color: var(--thm-color-3); }
  .progress-wrap.style3 svg.progress-circle path {
    stroke: var(--thm-color-3);
}

/* List Style One */

.list-style-one{
	position:relative;
}

.list-style-one li{
	position:relative;
	color:var(--white-color);
	font-size:16px;
	font-weight:400;
	line-height:1.8em;
	margin-bottom:var(--margin-bottom-10);
	padding-left:var(--padding-left-30);
}

.list-style-one li a{
	position:relative;
	color:var(--white-color);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.list-style-one li a:hover{
	color:var(--main-color);
}

.list-style-one li .icon{
	position:absolute;
	left:0px;
	top:5px;
	color:var(--main-color);
	font-size:18px;
	line-height:1em;
	font-weight:300;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

/* Btn Style One */

.btn-style-one{ 
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:2px;
	padding:15px 30px 15px 40px;
	font-size: 16px;
	display:inline-block;
	color: var(--white-color);
	text-transform: uppercase;
	border: 1px solid var(--white-color);
}

.btn-style-one:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	content: "";
	top: 0%;
	left: 0%;
	width: 10px;
	bottom: 0px;
	z-index: 1;
	background-color: var(--white-color);
}

.btn-style-one:hover:before{
	width: 100%;
}

.btn-style-one .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-one .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-one .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--color-six);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-one:hover .btn-wrap .text-two{
	color: var(--color-two);
}

.btn-style-one:hover{
	
}

.btn-style-one:hover:before{
	top: -40%;
}

/* Btn Style Two */

.btn-style-two{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:2px;
	font-size: 16px;
	display:inline-block;
	padding:16px 30px 16px 40px;
	color: var(--white-color);
	text-transform: uppercase;
	background-color: black;
}

.btn-style-two:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 10px;
	
	content: "";
	top: 5px;
	left: 0px;
	bottom: 5px;

	z-index: 1;
	background-color: var(--white-color);
}

.btn-style-two:hover:before{
	
	width: 100%;
	background-color: var(--black-color);
}

.btn-style-two .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-two .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-two .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--white-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-two:hover .btn-wrap .text-two{
	
}

.btn-style-two:hover{
	
}

.btn-style-two:hover:before{
	
}

/* Btn Style Three */

.btn-style-three{
	position: relative;
	font-weight:600;
	overflow: hidden;
	text-align:center;
	border-radius:2px;
	font-size: 16px;
	display:inline-block;
	padding:17px 30px 16px 40px;
	color: var(--black-color);
	text-transform: uppercase;
	border: 1px solid rgb(25, 25, 25);
}

.btn-style-three:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 7px;
	
	content: "";
	top: 5px;
	left: 0px;
	bottom: 5px;

	z-index: 1;
	background-color: var(--black-color);
}

.btn-style-three:hover:before{
	
	width: 100%;
	background-color: var(--black-color);
}

.btn-style-three .btn-wrap{
	position:relative;
	z-index:1;
	float:left;
    overflow: hidden;
    display: inline-block;
}

.btn-style-three .btn-wrap .text-one{
	position: relative;
	display: block;
	color: var(--main-color);
	transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap  .text-one:first-child{
	-webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.btn-style-three .btn-wrap .text-two{
	position: absolute;
    top: 100%;
    display: block;
	color: var(--white-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap .text-two{
	top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-style-three:hover .btn-wrap .text-two{
	
}

.btn-style-three:hover{
	
}

.btn-style-three:hover:before{
	
}

img{
	display:inline-block;
	max-width:100%;
	height:auto;	
}

/*** 

====================================================================
	Section Title
====================================================================

***/

.sec-title{
	position:relative;
    z-index: 2;
	margin-bottom:40px;
}

.sec-title_icon{
	position:relative;
	-webkit-animation: icon-bounce 0.8s ease-out infinite;
    animation: icon-bounce 0.8s ease-out infinite;
}

.sec-title_title{
	position: relative;
    font-weight: 700;
	display: block;
	font-size:16px;
	letter-spacing: 1px;
	margin-top: 20px;
	color:var(--main-color);
	text-transform:uppercase;
}

.sec-title_heading{
	margin-top: 15px;
	font-weight: 400;
	color: var(--white-color);
    text-transform: capitalize; 
}

.sec-title_text{
	line-height:28px; 
	font-size:16px;
	margin-top:20px;
    color:rgb(172, 172, 172);
}

.sec-title.light .sec-title_text,
.sec-title.light .sec-title_heading{
	color:var(--white-color);
}

.sec-title.centered{
	text-align: center !important;
}

.sec-title.centered .separator{
	margin:0 auto;
}

/* Custom Select */

.form-group .ui-selectmenu-button.ui-button{
	top:-2px;
	width:100%;
	border:0px;
	padding: 17px 25px;
	font-weight:500;
	line-height:28px;
	font-size:14px;
	background:none;
	border-radius: 0px;
	color:rgba(255, 255, 255, .80);
	border: 1px solid rgba(255, 255, 255, .4);
}

.form-group .ui-button .ui-icon{
	background:none;
	position:relative;
	top:3px;
	text-indent:0px;
	color:#a5a5a5;	
}

.form-group .ui-button .ui-icon:before{
	font-family: 'FontAwesome';
	content: "\f0d7";
	position:absolute;
	right:0px;
	top:2px !important;
	top:10px;
	height:22px;
	display:block;
	line-height:20px;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	z-index:5;
	color:var(--color-fiftyfour);
}

.ui-menu .ui-menu-item{
	font-size:16px;
}

.ui-menu .ui-menu-item:last-child{
	border:none;	
}

.ui-state-active, .ui-widget-content .ui-state-active{
	background-color:var(--main-color) !important;
	border-color:var(--main-color) !important;
}

.ui-menu .ui-menu-item-wrapper{
	position:relative;
	display:block;
	padding:8px 20px;
	line-height:24px;
	font-size:14px;
}

.ui-menu-item:hover{
	background-color:var(--color-two);
}

/* Cursor */

.cursor {
    position: fixed;
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: scale(1);
	transform: scale(1);
}
  
.cursor.active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
  
.cursor.menu-active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}
  
.cursor.hovered {
	opacity: 1;
}
  
.cursor-follower {
	position: fixed;
	border: 0.5px solid var(--main-color);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: translate(2px, 2px);
	transform: translate(2px, 2px);
}

.cursor-follower.active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.menu-active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.hovered {
	opacity: 1;
}
  
/* Cursor End */

.xs-sidebar-group .close-button{
	font-family: "Flaticon";
	color:rgb(143, 143, 143);
	font-size: 24px;
}

.newsletter-popup-area-section{
	display: none;
}